RAW_DATA_SOURCE="data/raw"
TRAIN_DATA_SOURCE="s3://pawpaw-repo/main"

LAKECTL_SERVER_ENDPOINT_URL="http://localhost:8000"
LAKECTL_CREDENTIALS_ACCESS_KEY_ID="REPLACE_THIS"
LAKECTL_CREDENTIALS_SECRET_ACCESS_KEY="REPLACE_THIS"

MLFLOW_TRACKING_URI="http://localhost:5000"
MLFLOW_TRACKING_USERNAME="mlflow"
MLFLOW_TRACKING_PASSWORD="password1234"
MLFLOW_EXPERIMENT_NAME="pawpaw-experiment"

# MLFlow issue between Linux and Windows machine
PYTHONIOENCODING="utf-8"

TRAIN_MODEL_REGISTRY_ENV='dev'
TRAIN_MODEL_REGISTRY_NAME="pawpaw-model"

# Use at least 2000 samples and 20 epochs for better prediction
PREPROCESS_SAMPLE="10"
TRAIN_EPOCH="1"

MODEL_TAG_FRAMEWORK="PyTorch"
MODEL_TAG_VARIANT="Simple CNN"

TEST_BEST_VERSION_ALIAS="best"
TEST_METRIC="root_mean_squared_error"
TEST_METRIC_MIN="true"
TEST_METRIC_THRESHOLD="25"

REPORT_DATABASE_HOST="http://localhost:5432"
REPORT_DATABASE_DBNAME="pawpaw"
REPORT_DATABASE_USERNAME="pawpaw"
REPORT_DATABASE_PASSWORD="pawpaw123"

SERVER_MODEL_ENDPOINT="http://localhost:8765/predict"

PREFECT_API_URL="http://localhost:4200/api"
PREFECT_API_AUTH_STRING="prefect:prefect123"
PREFECT_LOGGING_EXTRA_LOGGERS="pawpaw"

ORCHESTRATION_DEPLOYMENT_ENV="dev"
ORCHESTRATION_DEPLOYMENT_NAME="pawpaw"