# Junk folders
__pycache__/
/.pytest_cache/
/.venv/

# Sensitive stuff
/.env

# Data folder
/data/*
!/data/raw/data.csv
!/data/raw/images/.gitkeep

# Temporary folder
/model/

# Docker compose services data
/infra/docker-services/*
!/infra/docker-services/init
!/infra/docker-services/compose.*