# Junk folders
__pycache__/
/.venv/

# Data folder
/data/*
!/data/raw/data.csv
!/data/raw/images/.gitkeep

# Temporary folder
/model/

# Docker shared volumes
/docker/*
!/docker/init
!/docker/.env.dev
!/docker/compose.yaml